.vs
/ConsoleApplication1/x64
/ConsoleApplication1/Debug
/ConsoleApplication1/WebApplication1/bin
/ConsoleApplication1/WebApplication1/obj
/ConsoleApplication1/ConsoleApplication1/Debug
/ConsoleApplication1/ConsoleApplication1/x64

